<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @specialist.name %>
</p>

<p>
  <strong>Specialty:</strong>
   <%= @specialist.specialty %>
</p>

<p>
  <strong> Patient:</strong>
  <% @specialist.patients.each do |x| %>
      <br>   <%= x.name %>
  <% end %>
</p>

<p>
  <strong> Pending Appointments:</strong>
  <% @specialist.appointments.each do |date| %>

      <% if date.appointment_date >= Time.now %>
          <br>   <%=  date.appointment_date.strftime("%m/%d/%Y") %>
      <% elsif date.appointment_date < Time.now %>
          <br>    <%= 'No Current Appointments' %>
      <% end %>
  <% end %>
</p>


<p>
  <strong>  Appointment Date:</strong>
  <% Time.now  %>
  <% @specialist.appointments.each do |date| %>
      <br>   <%= date.appointment_date.strftime("%m/%d/%Y") %>
  <% end %>
</p>

<p>
  <strong> Days until Appointment:</strong>
  <% Time.now  %>
  <% @specialist.appointments.each do |date| %>
      <% d =  date.appointment_date.to_date - Time.now.to_date  %>
      <% if d >= 0 %>
   <br>  <%= d.to_i  %> Days
      <% elsif d < 0 %>
     <br>     <%= '0 Days' %>
      <% end %>
  <% end %>
</p>


<%= link_to 'Edit', edit_specialist_path(@specialist) %> |
<%= link_to 'Back', specialists_path %>
