<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @patient.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @patient.street_address %>
</p>


<p>
  <strong> Specialist:</strong>
  <% @patient.specialists.each do |s| %>
      <br>  <%= s.name %>
  <% end %>

</p>

<p>
  <strong> Appointment Date:</strong>
  <% @patient.appointments.each do |date| %>
      <br>    <%= date.appointment_date %>
  <% end %>

</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
